/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
a{
  text-decoration: none;
  color: inherit;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.pagination li.active .page-link{
  cursor: default;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.table thead tr th.ASC:after,
.table thead th.DESC:after{
  content: '↑';
  color: #000;
  font-weight: bold;
  padding: 5px;
}
.table thead th.DESC:after{
  content: '↓';
}

/* stile immagini thumbnai e preview*/

.avatar{
  border-radius: 6px;
}

.thumbnail{
  position: relative;
}
.thumbnail span{
  position: absolute;
  padding: 5px;
  left: 0px;
  visibility: hidden;
}

.thumbnail span img{ /*CSS for enlarged image*/
  padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
  visibility: visible;
  height:40vh ;
  left: 20vw;
  top: -20vh;
  
  /*position where enlarged image should offset horizontally */

}

.loginForm{
  width: 60vw;
  padding: 20px;
  margin: 0 auto;
  border: #000 solid 1px;
}

/*login popup*/
button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}